article {
  overflow: hidden;
  margin-bottom: 1rem;
  box-shadow: 1px 1px 4px 0px lightgrey;
  border-radius: 5px;
  border: 1px solid lightgray;
  height: 25rem;
  .postImageContainer {
    overflow: hidden;
    height: 10rem;
    img {
      width: 100%;
    }
  }
  .postBodyContainer {
    padding: 1rem;
  }
  .postHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .trashIcon {
      cursor: pointer;
      transition: color 0.5s;
      &:hover {
        color: #53bd95;
      }
    }
  }
  .published {
    font-weight: 300;
    color: #40403f;
    font-size: 0.9rem;
    display: flex;
    gap: 5px;
    flex-direction: column;
    div {
      &:last-child {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
    .date {
      font-weight: 500;
    }
    .author {
      @extend .date;
    }

    img {
      width: 30px;
      border-radius: 50%;
    }
  }
  .postBody {
    margin-top: 1rem;
  }
}
